In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt

In [2]:
df = pd.read_stata('comp_dr.dta')
df

,gvkey,datadate,indfmt,consol,popsrc,datafmt,tic,conm,curcd,fyr,dlc,drc,drlt,lt,costat,LINKTYPE,LPERMNO,MthCalDt
0,001004,2000-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,26.314,NaN,NaN,401.483,A,LU,54594.0,2000-05-31
1,001004,2001-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,13.652,NaN,NaN,361.642,A,LU,54594.0,2001-05-31
2,001004,2002-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,42.525,0.00,0.0,399.964,A,LU,54594.0,2002-05-31
3,001004,2003-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,92.256,0.00,0.0,391.633,A,LU,54594.0,2003-05-30
4,001004,2004-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,3.392,0.00,NaN,407.608,A,LU,54594.0,2004-05-28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135043,349972,2022-12-31,INDL,C,D,STD,INDP,INDAPTUS THERAPEUTICS INC,USD,12.0,0.080,0.00,0.0,3.433,A,LC,15642.0,2022-12-30
135044,349972,2023-12-31,INDL,C,D,STD,INDP,INDAPTUS THERAPEUTICS INC,USD,12.0,0.102,0.00,0.0,2.847,A,LC,15642.0,2023-12-29
135045,351038,2022-12-31,INDL,C,D,STD,QNRX,QUOIN PHARMACEUTICALS LTD,USD,12.0,0.000,0.00,0.0,7.051,A,LC,16161.0,2022-12-30
135046,351038,2023-12-31,INDL,C,D,STD,QNRX,QUOIN PHARMACEUTICALS LTD,USD,12.0,0.000,0.00,0.0,6.505,A,LC,16161.0,2023-12-29
135047,353444,2023-12-31,INDL,C,D,STD,HLN,HALEON PLC,USD,12.0,835.613,26.75,0.0,22069.859,A,LC,23209.0,2023-12-29

In [3]:
#current deferred revenue - drc
#total current liabilities - dlc
#long-term deferred revenue - drlt
#total long-term liabilities - lt
df = df[['gvkey', 'datadate', 'tic', 'drc', 'dlc', 'drlt', 'lt']]
df['dr'] = df['drc'] / df['lt']
df['datadate'] = pd.to_datetime(df['datadate'])

df['datadate'] = df['datadate'].dt.strftime('%Y-%m-%d')
df

C:\Users\the1s\AppData\Local\Temp\ipykernel_18076\3450716663.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dr'] = df['drc'] / df['lt']
C:\Users\the1s\AppData\Local\Temp\ipykernel_18076\3450716663.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datadate'] = pd.to_datetime(df['datadate'])
C:\Users\the1s\AppData\Local\Temp\ipykernel_18076\3450716663.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datadate'] = df['datadate'].dt.strftime('%Y-%m-%d')

         gvkey    datadate   tic    drc      dlc  drlt         lt        dr
0       001004  2000-05-31   AIR    NaN   26.314   NaN    401.483       NaN
1       001004  2001-05-31   AIR    NaN   13.652   NaN    361.642       NaN
2       001004  2002-05-31   AIR   0.00   42.525   0.0    399.964  0.000000
3       001004  2003-05-31   AIR   0.00   92.256   0.0    391.633  0.000000
4       001004  2004-05-31   AIR   0.00    3.392   NaN    407.608  0.000000
...        ...         ...   ...    ...      ...   ...        ...       ...
135043  349972  2022-12-31  INDP   0.00    0.080   0.0      3.433  0.000000
135044  349972  2023-12-31  INDP   0.00    0.102   0.0      2.847  0.000000
135045  351038  2022-12-31  QNRX   0.00    0.000   0.0      7.051  0.000000
135046  351038  2023-12-31  QNRX   0.00    0.000   0.0      6.505  0.000000
135047  353444  2023-12-31   HLN  26.75  835.613   0.0  22069.859  0.001212

[135048 rows x 8 columns]

In [4]:
g = pd.read_stata('Global Data.dta')
g

FileNotFoundError: [Errno 2] No such file or directory: 'Global Data.dta'

In [ ]:
a = pd.read_csv('monthly_returns.csv')
a

In [ ]:
c = pd.read_stata('comp_dr.dta')
c

In [ ]:
jpy = pd.read_stata('japan_only.dta')
jpy

In [ ]:
jpy['prccm'] = jpy['prccm'].fillna(0)
jpy = jpy[jpy['prccm'] != 0]

# Convert 'datadate' column to datetime type
jpy['datadate'] = pd.to_datetime(jpy['datadate'])

# Sort the DataFrame by 'gvkey' and 'datadate'
jpy = jpy.sort_values(by=['gvkey', 'datadate'])

# Group by 'gvkey' and calculate percentage return

jpy['ret'] = jpy.groupby('gvkey')['prccm'].pct_change()

# Display the DataFrame
print(jpy)

In [ ]:
defs = pd.read_stata('global_deferred.dta')
defs

In [ ]:
merged_df = pd.merge(jpy, defs[['gvkey', 'datadate', 'accdq', 'lltq']], on=['gvkey', 'datadate'], how='inner')

# Display the merged dataframe
print(merged_df)

In [ ]:
# merged_df.to_stata('japan_data.dta', version=117)

In [5]:
x = pd.read_stata('DRandAR.dta')
x

,gvkey,datadate,indfmt,consol,popsrc,datafmt,tic,conm,curcd,fyr,act,arb,dlc,drc,drlt,lt,costat,LINKTYPE,LPERMNO,MthCalDt
0,001004,2010-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,863.429,NaN,100.833,0.00,6.149,754.692,A,LU,54594.0,2010-05-28
1,001004,2011-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,913.985,NaN,114.075,0.00,5.688,868.438,A,LU,54594.0,2011-05-31
2,001004,2012-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,1063.272,NaN,122.865,1.16,12.834,1329.631,A,LU,54594.0,2012-05-31
3,001004,2013-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,1033.700,NaN,86.400,1.20,11.700,1217.400,A,LU,54594.0,2013-05-31
4,001004,2014-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,1116.900,NaN,69.700,1.30,10.200,1198.800,A,LU,54594.0,2014-05-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71982,349972,2022-12-31,INDL,C,D,STD,INDP,INDAPTUS THERAPEUTICS INC,USD,12.0,27.244,NaN,0.080,0.00,0.000,3.433,A,LC,15642.0,2022-12-30
71983,349972,2023-12-31,INDL,C,D,STD,INDP,INDAPTUS THERAPEUTICS INC,USD,12.0,13.995,NaN,0.102,0.00,0.000,2.847,A,LC,15642.0,2023-12-29
71984,351038,2022-12-31,INDL,C,D,STD,QNRX,QUOIN PHARMACEUTICALS LTD,USD,12.0,13.370,NaN,0.000,0.00,0.000,7.051,A,LC,16161.0,2022-12-30
71985,351038,2023-12-31,INDL,C,D,STD,QNRX,QUOIN PHARMACEUTICALS LTD,USD,12.0,11.286,NaN,0.000,0.00,0.000,6.505,A,LC,16161.0,2023-12-29
71986,353444,2023-12-31,INDL,C,D,STD,HLN,HALEON PLC,USD,12.0,6137.168,NaN,835.613,26.75,0.000,22069.859,A,LC,23209.0,2023-12-29