In [8]:
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt

In [5]:
df = pd.read_stata('deferred.dta')
df

,gvkey,datadate,indfmt,consol,popsrc,datafmt,tic,conm,curcd,fyr,dlc,drc,drlt,lt,costat,LINKTYPE,LPERMNO,MthCalDt
0,001004,2010-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,100.833,0.00,6.149,754.692,A,LU,54594.0,2010-05-28
1,001004,2011-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,114.075,0.00,5.688,868.438,A,LU,54594.0,2011-05-31
2,001004,2012-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,122.865,1.16,12.834,1329.631,A,LU,54594.0,2012-05-31
3,001004,2013-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,86.400,1.20,11.700,1217.400,A,LU,54594.0,2013-05-31
4,001004,2014-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,69.700,1.30,10.200,1198.800,A,LU,54594.0,2014-05-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71375,348615,2023-12-31,INDL,C,D,STD,NYAX,NAYAX LTD,USD,12.0,54.324,0.00,0.000,226.269,A,LC,23424.0,2023-12-29
71376,348892,2022-12-31,INDL,C,D,STD,STKH,STEAKHOLDER FOODS LTD,USD,12.0,0.394,0.00,0.000,7.433,A,LC,20846.0,2022-12-30
71377,349972,2022-12-31,INDL,C,D,STD,INDP,INDAPTUS THERAPEUTICS INC,USD,12.0,0.080,0.00,0.000,3.433,A,LC,15642.0,2022-12-30
71378,349972,2023-12-31,INDL,C,D,STD,INDP,INDAPTUS THERAPEUTICS INC,USD,12.0,0.102,0.00,0.000,2.847,A,LC,15642.0,2023-12-29
71379,351038,2022-12-31,INDL,C,D,STD,QNRX,QUOIN PHARMACEUTICALS LTD,USD,12.0,0.000,0.00,0.000,7.051,A,LC,16161.0,2022-12-30

In [7]:
#total current liabilities - dlc
#current deferred revenue - drc
#long-term deferred revenue - drlt
#total long-term liabilities - lt
df = df[['gvkey', 'datadate', 'tic', 'dlc', 'drc', 'drlt', 'lt']]
df['datadate'] = pd.to_datetime(df['datadate'])

df['datadate'] = df['datadate'].dt.strftime('%Y-%m-%d')
df

        gvkey    datadate   tic      dlc   drc    drlt        lt
0      001004  2010-05-31   AIR  100.833  0.00   6.149   754.692
1      001004  2011-05-31   AIR  114.075  0.00   5.688   868.438
2      001004  2012-05-31   AIR  122.865  1.16  12.834  1329.631
3      001004  2013-05-31   AIR   86.400  1.20  11.700  1217.400
4      001004  2014-05-31   AIR   69.700  1.30  10.200  1198.800
...       ...         ...   ...      ...   ...     ...       ...
71375  348615  2023-12-31  NYAX   54.324  0.00   0.000   226.269
71376  348892  2022-12-31  STKH    0.394  0.00   0.000     7.433
71377  349972  2022-12-31  INDP    0.080  0.00   0.000     3.433
71378  349972  2023-12-31  INDP    0.102  0.00   0.000     2.847
71379  351038  2022-12-31  QNRX    0.000  0.00   0.000     7.051

[71380 rows x 7 columns]

In [9]:

base = alt.Chart(df).encode(
    x = alt.X('datadate', title='Date')
)

layered_chart = alt.layer(
    base.mark_line(color='blue').encode(y='dlc', title='Value of dlc'),
    base.mark_line(color='red').encode(y='drc', title='Value of drc'),
    base.mark_line(color='green').encode(y='drlt', title='Value of drlt'),
    base.mark_line(color='orange').encode(y='lt', title='Value of lt')
).resolve_scale(y='independent')


layered_chart.show()

C:\Users\the1s\miniconda3\Lib\site-packages\altair\utils\core.py:714: UserWarning: Unrecognized encoding channel 'title'
  warnings.warn(

ValueError: 'show' method requires the altair_viewer package. See http://github.com/altair-viz/altair_viewer