In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import altair as alt

In [6]:
df = pd.read_stata('comp_dr.dta')
df

,gvkey,datadate,indfmt,consol,popsrc,datafmt,tic,conm,curcd,fyr,dlc,drc,drlt,lt,costat,LINKTYPE,LPERMNO,MthCalDt
0,001004,2010-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,100.833,0.00,6.149,754.692,A,LU,54594.0,2010-05-28
1,001004,2011-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,114.075,0.00,5.688,868.438,A,LU,54594.0,2011-05-31
2,001004,2012-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,122.865,1.16,12.834,1329.631,A,LU,54594.0,2012-05-31
3,001004,2013-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,86.400,1.20,11.700,1217.400,A,LU,54594.0,2013-05-31
4,001004,2014-05-31,INDL,C,D,STD,AIR,AAR CORP,USD,5.0,69.700,1.30,10.200,1198.800,A,LU,54594.0,2014-05-30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71375,348615,2023-12-31,INDL,C,D,STD,NYAX,NAYAX LTD,USD,12.0,54.324,0.00,0.000,226.269,A,LC,23424.0,2023-12-29
71376,348892,2022-12-31,INDL,C,D,STD,STKH,STEAKHOLDER FOODS LTD,USD,12.0,0.394,0.00,0.000,7.433,A,LC,20846.0,2022-12-30
71377,349972,2022-12-31,INDL,C,D,STD,INDP,INDAPTUS THERAPEUTICS INC,USD,12.0,0.080,0.00,0.000,3.433,A,LC,15642.0,2022-12-30
71378,349972,2023-12-31,INDL,C,D,STD,INDP,INDAPTUS THERAPEUTICS INC,USD,12.0,0.102,0.00,0.000,2.847,A,LC,15642.0,2023-12-29
71379,351038,2022-12-31,INDL,C,D,STD,QNRX,QUOIN PHARMACEUTICALS LTD,USD,12.0,0.000,0.00,0.000,7.051,A,LC,16161.0,2022-12-30

In [8]:
#current deferred revenue - drc
#total current liabilities - dlc
#long-term deferred revenue - drlt
#total long-term liabilities - lt
df = df[['gvkey', 'datadate', 'tic', 'drc', 'dlc', 'drlt', 'lt']]
df['ratio'] = df['drc'] / df['lt']
df['datadate'] = pd.to_datetime(df['datadate'])

df['datadate'] = df['datadate'].dt.strftime('%Y-%m-%d')
df

        gvkey    datadate   tic   drc      dlc    drlt        lt     ratio
0      001004  2010-05-31   AIR  0.00  100.833   6.149   754.692  0.000000
1      001004  2011-05-31   AIR  0.00  114.075   5.688   868.438  0.000000
2      001004  2012-05-31   AIR  1.16  122.865  12.834  1329.631  0.000872
3      001004  2013-05-31   AIR  1.20   86.400  11.700  1217.400  0.000986
4      001004  2014-05-31   AIR  1.30   69.700  10.200  1198.800  0.001084
...       ...         ...   ...   ...      ...     ...       ...       ...
71375  348615  2023-12-31  NYAX  0.00   54.324   0.000   226.269  0.000000
71376  348892  2022-12-31  STKH  0.00    0.394   0.000     7.433  0.000000
71377  349972  2022-12-31  INDP  0.00    0.080   0.000     3.433  0.000000
71378  349972  2023-12-31  INDP  0.00    0.102   0.000     2.847  0.000000
71379  351038  2022-12-31  QNRX  0.00    0.000   0.000     7.051  0.000000

[71380 rows x 8 columns]

In [ ]:

base = alt.Chart(df).encode(
    x = alt.X('datadate', title='Date')
)

layered_chart = alt.layer(
    base.mark_line(color='blue').encode(y='dlc', title='Value of dlc'),
    base.mark_line(color='red').encode(y='drc', title='Value of drc'),
    base.mark_line(color='green').encode(y='drlt', title='Value of drlt'),
    base.mark_line(color='orange').encode(y='lt', title='Value of lt')
).resolve_scale(y='independent')


layered_chart